@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope';
}

#navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
    text-align: right;
}

ul li {
    display: inline-block;
    justify-content: right;
    padding-right: 25px;
    color: white;
    font-weight: bold;
    margin:20px 0 20px 0;
}

ul a:hover {
    position: relative;
    top: 5px;
}

#sec1 {
    top: 60px;
    width: 100%;
    height: 649px;
    background-image: linear-gradient(to right bottom,#574BCD, #2999AD, #49E975);
}

#sec1 h1 {
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    font-size: 4vw;
}

#sec1 h2 {
    position: absolute;
    top: 40%;
    left: 37%;
    color: white;
    font-size: 3vw;
    font-style:italic;
}

#sec2 {
    top: 60px;
    width: 100%;
    height: 710px;
    background-image: linear-gradient(to right bottom,#574BCD, #2999AD, #49E975);
}

#sec2 img {
    max-width: 60%;
    max-height: 70%;
    padding: 70px 10px 70px 10px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec3 {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right top,#574BCD, #2999AD, #49E975);
}

#sec3 h1 {
    position: absolute;
    top: 235%;
    left: 15%;
    color: white;
    font-size: 4vw;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}

#sec3 img {
    width: 80px;
    height: auto;
}

#sec3 img:hover {
    transform: scale(1.2);
}

#secpro {
    top: 60px;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right top,#574BCD, #2999AD, #49E975);
}

#compiler {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#proj {
    width: 25vw;
    height: auto;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    margin: 0 2vw 2vw 0;
}

#proj img {
    width: 100%;
    height: 15vw;
    border-radius: 20px 20px 0 0;
}

#proj h2 {
    position: relative;
    top: -1vw;
    font-size: 2.5vw;
}

#proj a {
    text-decoration: none;
    color: white;
}

@media (max-width:480px) {
    #sec1 h1 {
        left: 20%;
        font-size: 6vw;
    }
    #sec1 h2 {
        left: 28%;
        font-size: 5vw;
    }
    #sec2 img {
        max-width: 100%;
    }
    #sec3 img {
        width: 40px;
        height: auto;
        margin-top: 14%;
    }
    #navbar {
        position: absolute;
    }
}


@media (max-width:425px) {
    #proj {
        width: 80%;
        height: 50vw;
        border-radius: 20px;
        text-align: center;
        margin: 0 2vw 5vw 0;
    }
    
    #proj img {
        width: 100%;
        height: 80%;
        border-radius: 20px 20px 0 0;
    }

    #proj h2 {
        font-size: 7vw;
        top: -3vw;
    }
}
