@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope';
    color: black;
}

#navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
    background-color: rgb(214, 37, 37);
    text-align: right;
}

ul li {
    display: inline-block;
    justify-content: right;
    padding-right: 25px;
    color: white;
    font-weight: bold;
    margin:20px 0 20px 0;
}

ul a:hover {
    position: relative;
    top: 5px;
}

#sec1 {
    top: 60px;
    width: 100%;
    height: 649px;
    background-color: #1B1B1B;
}

#sec1 h1 {
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    font-size: 4vw;
}

#sec1 h2 {
    position: absolute;
    top: 40%;
    left: 37%;
    color: white;
    font-size: 3vw;
    font-style:italic;
}

#sec2 {
    top: 60px;
    width: 100%;
    height: 710px;
    background-color: #2c3539;
}

#sec2 img {
    width: 60%;
    height: auto;
    padding: 70px 10px 0 10px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec3 {
    width: 100%;
    height: 20%;
    background-color: #3B3131;
}

#sec3 h1 {
    position: absolute;
    top: 235%;
    left: 15%;
    color: white;
    font-size: 4vw;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}

#sec3 img {
    width: 80px;
    height: auto;
}

#sec3 img:hover {
    transform: scale(1.2);
}

hr {
    width: 100%;
}

footer {
    text-align: right;
    margin: 30px 50px 30px 0;
    color: black;
    font-weight: bold;
    font-style: italic;
}

@media (max-width:480px) {
    #sec1 h1 {
        left: 20%;
        font-size: 6vw;
    }
    #sec1 h2 {
        left: 28%;
        font-size: 5vw;
    }
    #sec2 img {
        width: 100%;
    }
    #sec3 img {
        width: 40px;
        height: auto;
        margin-top: 14%;
    }
}