
#home {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #222222;
    padding: 0 0 3vw 0;
}

#desk {
    width: 100%;
    height: auto;
}

#intro {
    position: absolute;
    top: 13vw;
    left: 20.4vw;
    color: white;
}

#intro h1 {
    font-size: 4.5vw;
}

#intro h2 {
    font-size: 3vw;
}

#mob {
    display: none;
}

@media (max-width:425px) {
    #intro {
        width: 88vw;
        top: 22vw;
        left: 6vw;
    }

    #intro h1 {
        font-size: 7.5vw;
    }

    #intro h2 {
        font-size: 6vw;
    }

    #desk {
        display: none;
    }

    #home {
        padding: 0;
    }

    #mob {
        display: block;
        width: 100%;
        height: auto;
        background-size: contain;
    }
}